<header class="home-header">
    <a routerLink="/" class="home-header-home-link">
        <img src="/assets/trello-logo-white.png" alt="not trello logo">
    </a>
    <div>
        <a routerLink="/login" class="home-header-login">Login</a>
        <a routerLink="/register" class="home-header-register">Register</a>
    </div>
</header>

<div class="home-hero">
    <div class="home-container">
        <div>
            <h1 class="home-title">
                Totally Not Trello helps teams work together and get it done.
            </h1>
            <p class="home-description">
                boards, lists, and cards organize and prioritize projects effectively.
            </p>
        </div>
        <div>
            <img src="/assets/hero.svg" alt="hero image">
        </div>
    </div>
</div>
<div class="home-team">
    <div class="home-container team-container">
        <div>
            <h1 class="home-title">Work with whatever team you have</h1>
            <p class="home-description">
                Great for work, side projects, and even family events. Totally Not Trello helps you stay organized.
            </p>
        </div>
        <img src="/assets/work-with-any-team.png" class="team-image" alt="work with any team">
    </div>
</div>
<div class="home-information">
    <div class="home-container information-container">
        <div>
            <img src="/assets/information.svg" alt="information image">
        </div>
        <div>
            <h1 class="home-title">Info in one place</h1>
            <p class="home-description">
                Add comments, attachments, dates, and much more to your cards. Collaborate end to end.
            </p>
        </div>
    </div>
</div>
<div class="home-workflow">
    <div class="home-container workflow-container">
        <div class="workflow-left-part">
            <h1 class="home-title">Task-flow Automation Nanny</h1>
            <p class="home-description">
                Let our robot overlords do the thinking for you! Productive, emotionless, and indefatigable, they'll practically replace your whole team! Strike off those tedious tasks via:
            </p>
            <ul style="list-style-type: square; margin-left: 30px;margin-top: 10px;">
                <li>Automatic Triggers</li>
                <li>Custom Buttons</li>
                <li>Calendar Controls</li>
                <li>Date Controls</li>
            </ul>
        </div>
        <div>
            <img src="/assets/workflow.png" class="workflow-image" alt="workflow image">
        </div>
    </div>
</div>